
{% extends 'base.html' %}
{% block content %}
{{block.super}}
<style>
    .col-sm-4
        {
            padding: 15px;
        }
    /*zoom-out*/
    .zoombox
    {
        background-color: #333;
        overflow: hidden;
    }
    .zoombox img.zoomboximg
    {
        width: 100%;
        height: 240px;
        transform: scale(1.5);
        -webkit-transition: 2s ease-in;
        animation-duration: 10s;
    }
    .zoombox .zoomboxDiv
    {
        margin-top: -15%;
        position: absolute;
        right: 60px;
        left: 40px;
        top: 60px;
        bottom: 60px;
        display: block;
        background-color: transparent;
        /* border:1px solid #fff; */
        padding: 30px;
        text-align: center;
        transform: scale(0);
        -webkit-transition: 0.5s ease-in-out;
    }
    .zoombox .zoomboxDiv p
    {
        width: 100%;
        height: auto;
        color: white;
        font-family:Great,Vibes;
    }
    .zoombox:hover img.zoomboximg
    {
        opacity: .3;
        transform: scale(1);
    }
    .zoombox:hover .zoomboxDiv
    {
        transform: scale(1);
    }
    </style>
<div class="container-fluid" style="margin-top:-300px; font-family: 'Libre Baskerville', serif;">
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <h1 class="slogan" style="  font-size: 300%; color: rgb(0, 0, 0);">Welcome to dashboard!</h1>
    <button type="button" class="btn btn-info" style="margin-left:15%;color:white"><a href="{% url 'upload' %}" class="btn btn-warning btn-block">Add New <i class="fa fa-angle-right"></i></a></button>
    <br><br><br><br><br><br><br><br><br><br><br><br><br>
    {% if shareholder %}
    {% if shareholder.approved == False %}
    <h2>{{message}}</h2>
    <p>If you want to register go to that page</p>
    <a href="{% url 'username_present'%}"> Create a business account</a>
    {% else %}
</div>
</div>
<div class="container">
    <br>
    <div class="row">
            {% for sparepart in spareParts %}
            <tbody>

                <tr>
                    <td data-th="Sparepart">
                        <div class="row">
                            <h4 class="nomargin" class="text-center">{{ sparepart.namePart}}</h4>
                        </div>
                    </td>
                    <td data-th="sparepart'sImage">
                        <div class="col-md-6"><img src="{{ sparepart.ImagePart.url}}" class="img-responsive" /></div>
                    </td>
                    <td data-th="Price">
                        {{sparepart.price}}
                    </td>
                    <td data-th="Location">{{sparepart.locationPart}}</td>
                    <td data-th="Category">{{sparepart.categoryPart}}</td>
                    <td class="actions" data-th="">
                        <button class="btn btn-info btn-sm"><i class="fa fa-refresh"></i></button>
                        <a href="{% url 'shareholder'   %}"><button class="btn btn-danger btn-sm"><i class="fa fa-trash-o"></i></button></a>
                    </td>
                </tr>

            </tbody>
        
        {% empty %}
        <div class="row">
            <h2 class="text-center">There are no events yet!</h2>
        </div>
        {% endfor %}
    </div>
    {% endif %}
    {% else %}
    <h2>{{message}}</h2>
    <p>If you want to register go to that page</p>
    <a href="{% url 'username_present'%}"> Create a business account</a>
    {% endif %}
</div>
{% endblock %}