

<!-- .......................html for lacation...........but the link button are in today-gallery... -->

{% block content %}


{% for spare in spareparts%}
<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
    zzzz
     <img src="{{image_item.image_image.url}}" data-toggle="modal" class="img-responsive" width="500" alt="Image" >
     <p> Category: {{spare.namePart}}</p>
    
    </div>
 </div>
 {% empty %}
 <div class="row">
   <h2 class="text-center">There No Images yet</h2>
 </div>
 <footer style ="margin-top:50px; background-color:black;color:white;font-size:20px; text-align:center;padding-top:50px;height:100px;"> copyrigth|Laetitia|All right reserved</footer>
 {% endfor %}



{% endblock%}